In [1]:
# Import Modules
import os
import time
import argparse
import numpy as np
import pandas as pd

from glob import glob
from tqdm import tqdm

In [2]:
parser = argparse.ArgumentParser(description='Argparser')
parser.add_argument('--data_path', type=str, default='./data/', help='data path')
parser.add_argument('--data_type', type=str, default='*.csv', help='data type')
args = parser.parse_args(list())

In [3]:
# Data list setting
print('Data Loading...')
start_time = time.time()

data_path = './data/'
data_list = sorted(glob(os.path.join(args.data_path, args.data_type)))
print(f'It will {len(data_list)} time loop...')

Data Loading...
It will 4 time loop...

In [21]:
for i, data in enumerate(data_list):
    # Read Data
    dat1 = pd.read_csv(data)

    # Count by pickup time index
    for t in tqdm(range(48)):
        time_dat = dat1[dat1['pickup_time_index'] == t] # Time data setting
        groupby_index = [time_dat['PULocationID'], time_dat['pickup_weekday_index']]
        time_dat_count = time_dat.groupby(groupby_index).count() # Counting
        index_list = time_dat_count.index.tolist()
        
        # Make dataframe
        new_dat = pd.DataFrame({
            'location': [x[0] for x in index_list],
            'weekday': [x[1] for x in index_list],
            'hour': [t for _ in range(len(index_list))],
            'count': time_dat_count['VendorID'].tolist()
        })
        
        # Concatenate
        if t == 0:
            total_dat = new_dat
        else:
            total_dat = pd.concat([total_dat, new_dat], axis=0) # Concat data

    month = i + 1
    total_d
    total_dat.to_csv(f'./newyork_yellow_taxi_2019-0{month}_count.csv', index=False)

100%|██████████| 48/48 [00:03<00:00, 14.01it/s]

In [ ]:
for h in

In [ ]:
all_dat = pd.DataFrame({
    ''
})

In [27]:
list(range(48))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47]

In [44]:
location = set(total_dat['location'])
weekday = set(total_dat['weekday'])
hour = set(total_dat['hour'])
a = list()
for l in set(total_dat['location']):
    for w in set(total_dat['weekday']):
        for h in set(total_dat['hour']):
            a.append(str(l) + '/' + str(w) + '/' + str(h))

In [45]:
all_dat = pd.DataFrame([x.split('/') for x in a])
all_dat.columns = ['location', 'weekday', 'hour']
all_dat = all_dat.astype('int')

In [46]:
pd.merge(left=all_dat, right=total_dat, on=['location', 'weekday', 'hour'], how='left')

       location  weekday  hour  count
0             1        1     0    NaN
1             1        1     1    NaN
2             1        1     2    NaN
3             1        1     3    NaN
4             1        1     4    1.0
...         ...      ...   ...    ...
88363       265        7    43    8.0
88364       265        7    44    8.0
88365       265        7    45    8.0
88366       265        7    46    7.0
88367       265        7    47    8.0

[88368 rows x 4 columns]

In [43]:
set(total_dat['location'])

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 105,
 106,
 107,
 108,
 109,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265}

In [42]:
total_dat.sort_values(['location', 'weekday', 'hour'])

      location  weekday  hour  count
0            1        1     4      1
0            1        1    12      1
0            1        1    14      1
0            1        1    15      1
0            1        1    16      2
...        ...      ...   ...    ...
1057       265        7    43      8
1052       265        7    44      8
1055       265        7    45      8
1072       265        7    46      7
1036       265        7    47      8

[55584 rows x 4 columns]

In [20]:
pd.DataFrame([x.split('-') for x in total_dat.index])

         0  1   2
0        3  6   0
1        4  1   0
2        4  2   0
3        4  3   0
4        4  4   0
...    ... ..  ..
55579  265  3  47
55580  265  4  47
55581  265  5  47
55582  265  6  47
55583  265  7  47

[55584 rows x 3 columns]

In [4]:
# Data list setting
print('Data Loading...')
start_time = time.time()

data_path = './data/'
data_list = sorted(glob(os.path.join(args.data_path, args.data_type)))
print(f'It will {len(data_list)} time loop...')

for i, data in enumerate(data_list):
    # Read Data
    dat1 = pd.read_csv(data)

    # Count by pickup time index
    for t in tqdm(range(48)):
        time_dat = dat1[dat1['pickup_time_index'] == t] # Time data setting
        groupby_index = [time_dat['PULocationID'], time_dat['pickup_weekday_index']]
        time_dat_count = time_dat.groupby(groupby_index).count() # Counting
        index_list = time_dat_count.index.tolist()
        
        #
        location = [x[0] for x in index_list]
        weekday = [x[1] for x in index_list]
        hour = [t for _ in range(len(location))]
        index = [str(a) + '-' str(b) + '-' + str(c) for a,b,c in zip(location, weekday, hour)]
        
        new_dat = pd.DataFrame({
            'count': time_dat_count['VendorID'].tolist()
        })
        new_dat.index = index # because of pandas's weird setting
        if t == 0:
            total_dat = new_dat
        else:
            total_dat = pd.concat([total_dat, new_dat], axis=1) # Concat data
            
    total_dat.columns = list(set(dat1['pickup_time_index'])) # Column setting
    total_dat = total_dat.fillna(0) # Fill NaN by zero
    total_dat = total_dat.astype(int) # Type setting by integer

    month = i + 1
    total_dat.to_csv(f'./newyork_yellow_taxi_2019-0{month}_count.csv', index=False)
    break

Data Loading...
It will 4 time loop...

  0%|          | 0/48 [00:00<?, ?it/s]/home/jin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:28: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

100%|██████████| 48/48 [00:03<00:00, 13.31it/s]

ValueError: Length mismatch: Expected axis has 144 elements, new values have 48 elements

In [6]:
new_dat

          location  weekday  count
(1, 6)           1        6      1
(3, 6)           3        6      1
(3, 7)           3        7      1
(4, 1)           4        1     25
(4, 2)           4        2     30
...            ...      ...    ...
(265, 3)       265        3     23
(265, 4)       265        4     29
(265, 5)       265        5     16
(265, 6)       265        6     11
(265, 7)       265        7      8

[1037 rows x 3 columns]